@charset "UTF-8";
/*CSS Document*/

h1 {
	font-size: 45px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.hidden {
	display: none;
}

#container {
	display: flex;
	flex-direction: column;
	width: 960px;
	margin: 0 auto;
	background-color: #ececec;
}

/*  === BUTTONS === */

.btnCon {
	display: flex;
	justify-content: center;
}

/*.btnSmall {
	height: 40px;
	width: 160px;
	font-size: 18px;
	box-shadow: 0px 3px 4px 0px rgba(31, 29, 30, 0.35);
	margin: 5px;
}
*/
.btnLarge {
	height: 60px;
	width: 150px;
	font-size: 24px;
	cursor: pointer;
	border-radius: 3px;
}

.btnLarge:hover
{
	transition: .3s ease;
	box-shadow: 0px 3px 4px 0px rgba(31, 29, 30, 0.35);
	border-radius: 3px;
}

.btnLarge:active
{

/*make it cool*/
/*	box-shadow: inset 0 0 0 3px #999*/

}

.dark {
	background-color: #333;
	color: #fff;
}

.light {
	background-color: #ccc;
	color: #333;
}

.btnTop {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 60px 40px auto;
}

.btnTop p {
	font-size: 14px;
	text-transform: uppercase;
}

/* ask aaron how to use css3 to make circle hover! */
.btnTopBg {
	background-color: #666;
	/*let svg define height and width*/
	height: 75px;
	width: 75px;
	border-radius: 75px;
	margin-bottom: 15px;
}


@-webkit-keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    10% {
        -webkit-transform: translateX(7px);
        transform: translateX(7px);
    }
    30% {
        -webkit-transform: translateX(-7px);
       transform: translateX(-7px);
    } 
    50% {
        -webkit-transform: translateX(7px);
       transform: translateX(7px);
    } 

    70%
    {
        -webkit-transform: translateX(-7px);
        transform: translateX(-7px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.swing:active
{
        -webkit-animation: swing .3s ease;
        animation: swing .3s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* === HEADER === */

#mainHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#headerLogo {
	width: 121px;
	height: 60px;
	background-color: #666;
}


/* Social Media */

#headerSocialMedia ul {
	display: flex;
	justify-content: flex-start;
}

#headerSocialMedia img {
	width: 25px;
	height: 25px;
	background-color: #666;
	margin-left: 20px;
	margin-top: 20px;
}

/* Main Navigation */

#mainNav {
	display: flex;
	margin-left: auto;
}

#mainNav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#mainNav li {
	display: inline;
}

#mainNav ul li a {
	font-size: 20px;
	color: #666;
	text-decoration: none;
	padding: 20px;
}

#mainNav ul li a:hover {
	background-color: #ccc;
	transition: all .5s ease;
}

/* Hero */

.hero {
	width: 960px;
	height: 408px;
	background-color: #999;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}


.hero h2 {
	font-size: 48px;
	color: #fff;
	text-align: center;
	margin-bottom: 120px;
}

.downArrow {
	width: 50px;
	height: 50px;
	background-image : url(../images/down_arrow.svg);
	background-repeat: no-repeat;
	margin-left: 460px;
}

/* === JOIN === */

#mainJoin {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#mainJoin h3 {
	font-size: 30px;
	color: #666;
	text-align: center;
	margin-top: 40px;
}

#mainJoin p {
	font-size: 20px;
	color: #666;
	text-align: center;
	margin-top: 20px;
}

#mainJoin p span {
	font-weight: bold;
}

#joinProcess {
	display: flex;
	margin-left: 80px;
	margin-top: 40px;
	background-image: url(../images/process-img.svg);
	background-repeat: no-repeat;
	height: 61px;
}

#joinProcess {
	display: flex;
	justify-content: flex-start;
	align-items: center;

}

#joinProcess p {
	display: inline;
	font-size: 20px;
	color: #fff;
	padding: 5px;
	margin-top: auto;
	margin-bottom: auto;
}

#joinProcess p:first-child {
	margin-left: 40px;
	font-size: 30px;
}

#joinProcess p:nth-child(3) {
	margin-left: 90px;
	font-size: 30px;
}

#joinProcess p:nth-child(5) {
	margin-left: 140px;
	font-size: 30px;
}

#joinInfoAndForm {
	display: flex;
	flex-direction: row;
 	justify-content: flex-start;
 	margin-top: 40px;
 	margin-bottom: 40px;
 	position: relative;
}


#joinInfo {
	width: 333px;
 	height: 410px;
 	margin-left: 40px;
 	margin-top: 100px;
 	display: flex;
 	flex-direction: column;
 	justify-content: flex-start;
 	background-color: #ccc;
}

#membershipPrice {
	width: 180px;
	height: 180px;
	background-color: #666;
	border-radius: 180px;
	margin-left: 50px;
	position: absolute;
	top: 0px;
	left: 70px;

}

#membershipPrice p {
	font-size: 50px;
	color: #fff;
	padding: 40px 50px 50px 50px;
	
}

#joinInfo p {
	font-size: 20px;
	color: #fff;
	text-align: left;
	margin-left: 20px;
	padding-right: 10px;
	text-align: center;
	margin-top: 120px;
	width: 333px;
}

#joinInfo ul
{
	margin-top: 40px;
	margin-left: 50px;
}

#joinInfo ul li {
	font-size: 18px;
	color: #fff;
	text-align: left;
	list-style-type: circle;
	padding: 5px;
	padding-right: 30px;
}

#joinForm {
	width: 400px;
	height: 510px;
	margin-left: 80px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#joinForm p {
	font-size: 16px;
	color: #666;
	text-align: left;
	margin-bottom: 15px;
}

#membershipForm label {
	font-size: 16px;
	color: #666;
	margin-bottom: 12px;
	text-transform: uppercase;
	margin-top: 12px;
}

#membershipForm input {
	font-size: 14px;
	color: #999;
	width: 400px;
	height: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
}

#joinForm input:last-child {
	background-color: #ccc;
	width: 160px;
	height: 60px;
	margin-left: 270px;
	margin-top: 25px;
}

#paperForm {
	margin-top: 80px;
	background-color: #ccc;
	display: flex;
	justify-content: flex-start;
	height: 160px;
}

#paperFormText {
	width: 590px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 60px;
	border-right: #666 1px solid;
	margin-top: 20px;
}

#paperForm p:first-child{
	font-size: 22px;
	color: #666;
}

#paperForm p:last-child {
	font-size: 18px;
	color: #666;
	margin-top: 20px;
}

#paperFormButton button{
	width: 242px;
	height: 70px;
	font-size: 20px;
	color: #fff;
	margin-left: 40px;
	margin-top: 40px;
}

/* === PROJECTS PAGE === */

#donateBanner {
	display: flex;
	justify-content: flex-start;
	background-color: #ccc;
	padding: 40px;
}

#donateBanner p {
	font-size: 24px;
/*	text-transform: uppercase;*/
	color: #fff;
	margin-right: auto;
	vertical-align: middle;
	margin-top: auto;
	margin-bottom: auto;
}

.btnDonate {
	margin-right: 40px;
}

#projectArea {
	display: flex;
	flex-direction: column;
}

.projectRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*replace with images*/
	height: 400px;
	width: 480px;
	background-color: #666;
	cursor: pointer;
}

.project:hover {
	opacity: 0.5;
  	transition: .7s ease;
  	background-color: #ccc;
}

.project h3 {
	font-size: 24px;
	color: #fff;
	max-width: 300px;
	text-align: center;
}

.comingSoon {
	background-color: #999;
}

.comingSoon h3 {
	margin-bottom: 20px;
}

#projectArchive {
	width: 960px;
	height: 200px;
	background-color: #999;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
}

#projectArchive h2 {
	font-size: 48px;
	color: #fff;
	margin: auto 0px;
}


/* === MAIN FOOTER === */

#mainFooter {
	display: flex;
	flex-direction: column;
	width: 840px;
	background-color: #333;
	padding: 40px 60px;
}

#mainFooter h3 {
	font-size: 24px;
	margin-bottom: 15px;
	color: #fff;
}

#mainFooter p {
	font-size: 14px;
	margin-bottom: 15px;
	color: #ccc;
}

#mainFooterCon {
	display: flex;
	flex-direction: row;
}

/* Newsletter and Social Media Container */

#newsSocCon {
	display: flex;
	flex-direction: column;
	max-width: 340px;
}

.text {
	height: 40px;
	width: 260px;
}

.subBut {
	/* let icon define height*/
	height: 40px;
	width: 40px;
	margin-left: 2px;
	background-color: #ccc;
}

#mainFooterSocialNav ul {
	display: flex;
	flex-direction: row;
/*	background-color: tomato;*/
}

.socialIcon {
	/* let icon define height*/
	height: 40px;
	width: 40px;
	margin-right: 20px;
	margin-top: 30px;
	background-color: #666;
}

/* Contact Blurb */

#mainFooterContact {
	max-width: 150px;
	margin-left: 40px; 
	margin-right: 20px;
}

#mainFooterContact a {
	color: #fff;
}

/* Footer Navigation */

#mainFooterNav {
	border-right: 2px solid #ccc;
	margin-right: 40px;
	padding-right: 30px;
}

#mainFooterNav a {
	color: #ccc;
	text-decoration: none;
}

/* Footer Logo */

#mainFooterLogo {
	/* let logo define height*/
	height: 150px;
	width: 150px;
	background-color: #666;
}

/* Bottom Footer */

#mainFooterBottom {
	margin-top: 80px;
	font-size: 14px;
	color: #ccc;
}

#mainFooterBottom ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
/*	background-color: tomato;*/
}

#mainFooterBottom ul li:nth-child(2), 
#mainFooterBottom ul li:nth-child(3) {
	margin-right: 40px;
}

#mainFooterBottom ul li:first-child {

	margin-right: auto;
} /* END MAIN FOOTER */
